* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #bdbfbe;
}

ul a {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: black;
    text-decoration: none;
    position: relative;
    padding: 0 20px;
    top: 38px;
}

body{
    background-color: #a09c9c;
}

.quote{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: right;
    color: black;
    text-decoration: none;
    position: relative;
    padding: 0 20px;
    top: 18px;
}

.img-stock{
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-left: 100px;
    clip-path: circle();
}

.img-toolkit{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 800px;
    top: 200px;
    clip-path: circle();
}

.img-physics{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 1500px;
    top: 200px;
    clip-path: circle();
}

.Stock-description{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    color: black;
    text-decoration: none;
    position: relative;
    padding: 0 20px;
    top: 38px;
    margin-left: 100px;
    margin-right: 1520px;
}

.Toolkit-description{
    position: absolute;
    top: 338px;
    margin-top: 200px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    color: black;
    text-decoration: none;
    padding: 0 20px;
    margin-left: 800px;
    margin-right: 820px;
}

.Physics-description{
    position: absolute;
    top: 338px;
    margin-top: 200px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    color: black;
    text-decoration: none;
    padding: 0 20px;
    margin-left: 1500px;
    margin-right: 120px;
}

.linreginfo{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    color: blue;
    text-decoration: none;
    position: relative;
    padding: 0 20px;
    top: 38px;
    margin-left: 100px;
    margin-right: 1520px;
}